@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url(" https://fonts.cdnfonts.com/css/cooper-black ");

* {
  margin: 0px;
}

html,
body {
  width: 100%;
  background-color: #feebb7;
}

#logo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

#img_ {
  width: 500px;
}

#frase_ {
  font-size: 30px;
}

#frase {
  font-family: "Pacifico";
  font-size: 28px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: #332e8f;
  animation: animarFrase 2s ease-out forwards;
}

@keyframes animarFrase {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#chapeu {
  width: 200px;
  height: 200px;
}

#folhas {
  width: 100%;
  position: absolute;
  z-index: 1;
  animation: movimentoFolhas 5s forwards;
  margin-top: -30px;
}

@keyframes movimentoFolhas {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(3%);
  }
}

#mato {
  width: 100%;
  margin-top: 100px;
}

#segundapage {
  background-color: #332e8f;
  width: 100%;
  margin-top: -4px;

  display: flex;
}

#estrela {
  /*
  position: absolute;
  margin-top: -65px;
  margin-left: -15px;*/
}


#destaque {
  font-family: "Cooper Black", sans-serif;
  font-size: 45px;
  color: #feebb7;
  width: 50%;
}

#aspiral {
  margin-top: -60px;
  margin-left: 700px;
}

#seta {
  width: 250px;
}

#letra {
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

#queijo {
  width: 100%;
  height: 85%;
}

/*CELULAR*/
@media (min-width: 320px) {
  * {
    margin: 0px;
  }

  html,
  body {
    width: 100%;
  }

  #frase {
    color: #332e8f;
    position: relative;
    animation: animarFrase 2s ease-out forwards;
    width: 100%;
  }

  #img_ {
    width: 40%;
    margin-top: 25px;
  }

  #frase_ {
    font-size: 18px;
    margin-top: 25px;
  }

  #folhas {
    width: 100%;
    position: absolute;
    z-index: 1;
    animation: movimentoFolhas 5s forwards;
  }

  #folhas_ {
    width: 100%;
    margin-top: -80px;
  }

  #chapeu {
    width: 100%;
  }

  #chapeu_ {
    width: 20%;
    margin-top: 190px;
    margin-left: 20px;
    transform: rotate(-20deg);
  }

  #mato {
    width: 100%;
    margin-top: -5px;
  }
  #mato_ {
    width: 100%;
  }

  #logo {
    width: 100%;
  }

  

  #segundapage {
    background-color: #097d4c;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @keyframes zoomDestaque {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  #destaque {
    width: 100%;
    margin-top: 70px;
    font-size: 32px;
    text-align: left;
    animation: zoomDestaque 1s ease-in-out;
  }

  
#seta {
  width: 180px;
  margin-left: 213px;
  margin-top: -13px;
  position: absolute;
}

  #letra{
    font-size: 18px;
    text-align: left;

  }


  @keyframes zoomQueijo {
    0% {
      transform: scale(0.5);
      opacity: 0.1;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

#queijo{
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zoomQueijo 3s ease-in-out 3s;
}
#queijo_{
  

}

}
