@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url(" https://fonts.cdnfonts.com/css/cooper-black ");

* {
  margin: 0px;
}

html,
body {
  background-color: #feebb7;
}

#logo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#frase {
  font-family: "Pacifico";
  font-size: 28px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;

  width: 100%;

  color: #332e8f;
  position: relative;
  animation: animarFrase 2s ease-out forwards;
}

@keyframes animarFrase {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#chapeu {
  width: 280px;

  transform: rotate(-30deg);
  position: absolute;
  left: 76px;
  top: 400px;
}

#folhas {
  width: 100%;
  height: 550px;
  position: absolute;
  z-index: 1;
  margin-top: -260px;
  margin-left: 2px;
  overflow: hidden;
  animation: movimentoFolhas 5s forwards;
}

@keyframes movimentoFolhas {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(3%);
  }
}

#mato {
  width: 100%;
  margin-top: 100px;
}

#segundapage {
  background-color: #332e8f;
  width: 100%;
  height: 100vh;
  margin-top: -4px;
}




#destaque {
  font-family: "Cooper Black", sans-serif;
  font-size: 55px;
  display: flex;
  color: white;
 
  width: 35%;

  position: relative;
  left: 150px;
  top: 80px;
  flex-direction: column;
  justify-content: space-between;
}

#seta {
width: 50%;
margin-top: -20px;
margin-left: 420px;
}

#letra {

  font-size: 27px;
  margin-top: 300px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -30px;
  width: 110%;
}

#queijo {
  width: 100%;
  height: 85%;
  display: flex;

  flex-direction: row-reverse;
  margin-top: -742px;
  margin-left: -150px;
}

@media (max-width: 600px) {
  * {
    font-size: 15px;
  }
}
